/* # # # # # # # # # # RESET # # # # # # # # # # # # # # # #   */
* {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  border: none;
  color: black;
  text-decoration: none;
  font-weight: normal;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
:root {
  --orange: #ff9e23;
  --orangelight: #ffdfb1;
  --grey: #d7d5d2;
  --greylight: #f1f1f1;
}

/* # # # # # # # # # # GENERAL # # # # # # # # # # # # # # # #   */

.page {
  padding: 0px 30px 30px 30px;
}
svg {
  box-shadow: 3px 3px 3px 0px rgba(177, 177, 177, 0.56);
  border-radius: 30px;
}

h2 {
  font-size: 0.8rem;
}

span {
  font-size: 0.5rem;
}

.underlined {
  text-decoration: underline;
}

/* # # # # # # # # # # HEADER # # # # # # # # # # # # # # # #   */

header {
  font-size: 18px;
}

header > img {
  width: 300px;
}

hr {
  margin: 20px 0 0 0;
  border-top: solid 1px var(--grey);
}

/* # # # # # # # # # # TITLES # # # # # # # # # # # # # # # #   */
.title {
  display: flex;
  margin: 20px 0 20px 0;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--orange);
  margin-right: 10px;
  text-transform: uppercase;
}

/* # # # # # # # # # # CHOICE # # # # # # # # # # # # # # # #   */

.choicecontenair {
  display: flex;
  justify-content: center;
  padding: 0px 0 0px 0;
}

.choicebox {
  /* display */
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Size */
  min-height: 2.5rem;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;

  /* Style */
  font-size: 0.7rem;
  font-weight: 700;
  border: solid 1px var(--grey);
  box-shadow: 2px 2px 2px 0px var(--grey);
  transition: all 0.2s;
}
.selected {
  background-color: var(--orange);
  color: white;
}

.choicebox:hover {
  background-color: var(--orange);
  cursor: pointer;
  transform: scale(1.05);
}

/* # # # # # # # # # # NAVIGATION # # # # # # # # # # # # # # # #   */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar > div:hover {
  cursor: pointer;
}

.suivant {
  background-color: var(--orange);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 25px 5px 25px;
  border-radius: 25px;
}
.precedent {
  text-decoration: underline;
  font-size: 10px;
  font-weight: bold;
}

/* # # # # # # # # # # PERCENTAGE BAR # # # # # # # # # # # # # # # #   */

.percentagebar {
  margin: 0 10vw 0 10vw;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

.number {
  display: flex;
  font-size: 0.8rem;
  background-color: var(--orange);
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  border: solid 3px var(--orangelight);
  transform: translateX(-0.9rem);

  position: absolute;
  transition: all 1s;
  animation: mymove 0.5s;
}
@keyframes mymove {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

/* # # # # # # # # # # FORMS GENERAL # # # # # # # # # # # # # # # #   */

.inputbar {
  display: flex;
  align-items: center;
  padding: 3px 30px 3px 15px;
}

.grey {
  background-color: var(--greylight);
}

.inputbar > h2 {
  min-width: 200px;
}

/* # # # # # # # # # # SPECIAL CITY INPUT # # # # # # # # # # # # # # # #   */

/* City and Country inputs */
.OuInput {
  min-width: 170px;
  border: solid 1px var(--orange);
  border-bottom-width: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

/* city search List container */
.cityinput {
  position: relative;
}

.cityinput > div {
  border: solid 1px var(--grey);
  background-color: white;
  position: absolute;
  top: 23px;
  z-index: 100;
  width: 120%;
  border-radius: 2px;
  padding: 5px;
  height: 70px;
  overflow: scroll;
}
.cityinput > div > div {
  font-weight: 200;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.cityinput > div > div:hover {
  background-color: var(--grey);
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
}

/* # # # # # # # # # # SPECIAL PRICES INPUT # # # # # # # # # # # # # # # #   */

input {
  min-width: 140px;
  border: solid 1px var(--orange);
  border-bottom-width: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 5px 4px 0;
  border-radius: 5px;
  text-align: right;
  margin: 0 5px 0 5px;
}
